:root {
    --color: #474040;
    --cardgradient: linear-gradient(#faf0f4, #e2a3ba, #d66a92);
    --border-style: dashed;
}
* {
    background-color: #7179a6;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color);
}
header {
    text-align: center;
}
header p {
    color: rgb(253, 253, 253);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main h2,
main pre {
    border: var(--border-style) 1px #710c31;
}

.card {
    display: grid;
    border: solid 3px #141e58;
    border-radius: 8px;
    margin: 5px;
    text-align: center;
    width: 300px;
    background-image: var(--cardgradient);
    transition: steps(1, 12);
}
.card h2,
.card p,
.card pre {
    background-color: transparent;
}

.card h2 {
    margin-top: 5px;
    height: 50%;
}

.card p {
    margin: 10px 20px;
    text-align: start;
}

pre {
    text-align: start;
    padding-left: 20px;
}


pre:active {
    user-select: text;
    background-color: #c7a2a8;
}
