body {
    margin: 0;
    padding: 0;
}

:root {
    --text: #474040;
    --gradient: linear-gradient(#faf0f4, #f891b7);
    --border-style: dashed;
    --dark-accent: #4b8a9d;
    --medium-accent: #d7aebc;
    --white: rgb(246, 242, 242);
}
* {
    background-color: var(--medium-accent);
    font-family: 'Times New Roman', Times, serif;
    color: var(--text);
}
header {
    text-align: center;
}

h1 {
    background-color: var(--dark-accent);
    width: 100%;
    margin-top: 0;
    padding-top: .5em;
    height: 2em;
}

header p {
    padding-left: 4em;
    padding-right: 4em;
}

header p,
h1 {
    color: var(--white);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 40px;
    margin-top: 70px;
    width: 100%;
}

main h2,
main pre {
    border: var(--border-style) 2px var(--medium-accent);
}

.card {
    display: grid;
    border: solid 3px var(--dark-accent);
    border-radius: 8px;
    text-align: center;
    width: 300px;
    transition: steps(1, 12);
    background-color: var(--white);
}

.card h2,
.card p,
.card pre {
    background-color: transparent;
}

.card h2 {
    margin: 10px 10px;
    height: 1.5em;
}

.card p {
    margin: 10px 20px;
    text-align: start;
}

pre {
    text-align: start;
    margin: 10px 10px;
    padding-left: 10px;
    background-image: var(--gradient);
    user-select: all;
}

footer {
    text-align: center;
    margin-top: 80px;

}

@media screen and (min-width: 992px){
    .card {width: 30%;}
}

@media screen and (max-width: 767px) {
    main {flex-direction: column; align-content: center;}
    .card {width: 90%}
    
}