body {
    margin: 0;
    padding: 0;
}

:root {
    --color: #474040;
    --cardgradient: linear-gradient(#faf0f4, #e2a3ba, #d66a92);
    --border-style: dashed;
    --dark-blue: #141e58
}
* {
    background-color: #7179a6;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color);
}
header {
    text-align: center;
}

h1 {
    background-color: var(--dark-blue);
    width: 100%;
    margin-top: 0;
    padding-top: .5em;
    height: 2em;
}

header p,
h1 {
    color: rgb(230, 228, 228);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 10px;
    margin-top: 70px;
}

main h2,
main pre {
    border: var(--border-style) 1px #710c31;
}

.card {
    display: grid;
    border: solid 3px var(--dark-blue);
    border-radius: 8px;
    margin: 5px;
    text-align: center;
    width: 300px;
    background-image: var(--cardgradient);
    transition: steps(1, 12);
}
.card h2,
.card p,
.card pre {
    background-color: transparent;
}

.card h2 {
    margin: 10px 10px;
    height: 1.5em;
}

.card p {
    margin: 10px 20px;
    text-align: start;
}

pre {
    text-align: start;
    margin: 10px 10px;
    padding-left: 10px;
}


pre:active {
    user-select: text;
    background-color: #c7a2a8;
}

footer {
    text-align: center;
    margin-top: 80px;

}

@media screen and (max-width: 767px) {
    main {flex-direction: column; align-content: center;}
    .card {width: 90%}
    
}